<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">Интернет-магазин</div>
        <div class="cart">
            <form action="#" class="search-form" @submit="filterGoods">
				<input type="text" class="search-field" v-model="searchLine">
                <button class="btn-search" type="submit" @click="filterGoods">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" @click="isVisibleCart = !isVisibleCart" type="button">Корзина</button>
            <div class="cart-block" :class="{invisible: isVisibleCart}">
				<div class="cart-item" v-for="cartItem of cartItems" :key="cartItem.id_product" :data-id="cartItem.id_product">
					<div class="product-bio">
						<img :src="cartItem.img" alt="Some image">
						<div class="product-desc">
							<p class="product-title">{{cartItem.product_name}}</p>
							<p class="product-quantity">Количество: {{cartItem.quantity}}</p>
							<p class="product-single-price">{{cartItem.price}} за ед.</p>
						</div>
					</div>
					<div class="right-block">
						<p class="product-price">{{cartItem.price * cartItem.quantity}} ₽</p>
						<button class="del-btn" @click="removeProduct(cartItem)">&times;</button>
					</div>
				</div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of products" :key="product.id_product" :data-id="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}₽</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
